<footer class="footer">
    <div class="footer-container">
      <div class="footer-col">
        <img src="assets/logo.jpg" alt="Logo étude" class="footer-logo" />
        <p>SCP MD Recouvrement</p>
      </div>
  
      <div class="footer-col">
        <h4>OÙ NOUS TROUVER ?</h4>
        <p>Cabinet MD Recouvrement<br>7, rue de l’Exemple 75000 PARIS</p>
        <button class="btn-outline-light">Afficher le plan d’accès</button>
      </div>
  
      <div class="footer-col">
        <h4>TÉLÉPHONE / MAIL</h4>
        <p>Tel : 01 23 45 67 89<br>Email : contactmd-recouvrement.fr</p>
        <a href="/mentions-legales">Mentions légales</a>
      </div>
  
  
    </div>
  </footer>
  