
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url('assets/corpo10.webp')"></div>

    </div>
    <div class="description">
      <h1>Vous êtes une entreprise</h1>
      <h2>Vous avez un impayé ? Confiez-nous votre dossier.</h2>
      <p class="text"> Le Cabinet MDrecouvrement accompagne les petites et moyennes entreprises 
        dans la gestion de leurs impayés clients, en privilégiant une approche amiable, 
        efficace et respectueuse. Nous intervenons principalement dans les départements du val-d'Oise (95),
         de l’Oise (60) ainsi que sur la plateforme de Roissy (93/77), au cœur d’un tissu économique dynamique.</p>
      <p class="read-more">
        <a href="#" (click)="openModal(0)">En savoir plus</a> 
      </p>
    </div>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url('assets/learning.webp')"></div>

    </div>
    <div class="description">
      <h1>Nos Formations</h1>
      <h2>Maîtrisez le recouvrement amiable grâce à notre programme.</h2>
      <p class="text">La formation “les outils pour être un bon Chargé de Recouvrement” est une formation avec des 
        contenus exclusivement métiers, centrés sur l’acquisition de savoir-faire opérationnels, directement 
        applicables. 
        Nous nous adressons à des candidats à la recherche de compétences professionnelles leur 
        permettant de remplir des fonctions financières et commerciales dans leur entreprise d’accueil...</p>
      <p class="read-more">
        <a href="#" (click)="openModal(1)">En savoir plus</a>
      </p>
    </div>
  </div>
  <ng-container *ngIf="selectedModalIndex !== null">
    <app-modal-info
      [visible]="true"
      [title]="modals[selectedModalIndex!].title"
      [content]="modals[selectedModalIndex!].content"
      (close)="closeModal()">
    </app-modal-info>
  </ng-container>
  