
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url('assets/corpo6.jpg')"></div>

    </div>
    <div class="description">
      <h1>Vous êtes un particulier ou une entreprise</h1>
      <h2>Vous avez un litige ou un impayé ? Confiez-nous votre dossier.</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac mattis mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin semper nisi, vestibulum egestas mauris malesuada ac. Quisque ac aliquam mauris, at porttitor neque. Sed sit amet laoreet mauris. Aliquam laoreet interdum ante vitae rutrum. </p>
      <p class="read-more">
        <a href="#">En savoir plus</a>
      </p>
    </div>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url('assets/learning.jpg')"></div>

    </div>
    <div class="description">
      <h1>Nos Formations</h1>
      <h2>Maîtrisez le recouvrement amiable et judiciaire grâce à notre programme.</h2>
      <p>Phasellus faucibus facilisis sapien, sed interdum sapien placerat in. Aenean magna sapien, condimentum ut mattis ac, congue tempor eros. Integer vel sem a diam pretium pulvinar. Quisque diam erat, consequat at nunc nec, luctus hendrerit ex. Maecenas egestas libero felis, ac interdum ante gravida vitae. Donec efficitur lacus placerat, porttitor enim eu, mattis turpis. Etiam sed mollis nunc.</p>
      <p class="read-more">
        <a href="#">En savoir plus</a>
      </p>
    </div>
  </div>
