
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url('assets/corpo10.webp')"></div>

    </div>
    <div class="description">
      <h1>Vous êtes une entreprise</h1>
      <h2>Vous avez un impayé ? Confiez-nous votre dossier.</h2>
      <p class="text"> Le Cabinet MDrecouvrement accompagne les petites et moyennes entreprises 
        dans la gestion de leurs impayés clients, en privilégiant une approche amiable, 
        efficace et respectueuse. Nous intervenons principalement dans les départements du val-d'Oise (95),
         de l’Oise (60) ainsi que sur la plateforme de Roissy (93/77), au cœur d’un tissu économique dynamique.</p>
      <p class="read-more">
        <a href="#" (click)="openModal(0)">En savoir plus</a> 
      </p>
    </div>
  </div>
  <ng-container *ngIf="selectedModalIndex !== null">
    <app-modal-info
      [visible]="true"
      [title]="modals[selectedModalIndex!].title"
      [content]="modals[selectedModalIndex!].content"
      (close)="closeModal()">
    </app-modal-info>
  </ng-container>
  