<div class="contact-section">
    <h1 class="contact-title">Contactez-nous</h1>
    <div class="contact-grid">
      <div class="contact-box">
        <i class="fas fa-phone-alt contact-icon"></i>
        <h4>Téléphone</h4>
        <p><a href="tel:0651216605">06.51.21.66.05</a></p>
      </div>
      <div class="contact-box">
        <i class="fas fa-envelope contact-icon"></i>
        <h4>Email</h4>
        <p><a href="mailto:m.darde@mdrecouvrement.com">m.darde&#64;mdrecouvrement.com</a></p>
      </div>
    </div>
  

    <div class="map-container">
      <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2996.967775024202!2d2.385616444087125!3d49.162384430395896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1744144214216!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        width="100%"
        height="300"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  
    <div class="contact-address">
      <h4>Cabinet MD Recouvrement</h4>
      <strong>Chantilly</strong>
      <p>Du lundi au vendredi, de 9h à 17h30 sans interruption</p>
    </div>
  </div>
  