<!-- ✅ Sticky Navbar en dehors du wrapper -->
<header class="navbar">
  <div class="navbar__left">
    <img [src]="isMobile ? 'assets/logoCabinetMDrecouvrement.svg' : 'assets/logoMDrecouvrement.svg'" alt="Logo MD Recouvrement" class="logo" />
  </div>

  <nav class="navbar__center">
    <div class="pill" #pill></div>

<a *ngFor="let link of navbarLinks; let i = index"
   href="#"
   (click)="handleNavClick($event, link, i)"
   [class.active]="activeIndex === i"
   #navLink>
  {{ link.label }}
</a>


  </nav>
</header>
<app-tarif
  [isVisible]="isTarifModalOpen"
  (close)="isTarifModalOpen = false">
</app-tarif>
<app-simulateur
  [isVisible]="isSimulateurModalOpen"
  (close)="isSimulateurModalOpen = false">
</app-simulateur>

<div class="page-wrapper" [class.modal-open]="selectedMission">
  <main class="main">
    <section id="accueil"><app-accueil></app-accueil></section>
    <section id="missions"><app-missions (demandeOuverture)="openForm($event)"></app-missions></section>

    <section id="textes-legaux"><app-textes-legaux></app-textes-legaux></section>
    <section id="contact"><app-contact></app-contact></section>
  </main>



  <app-sticky-footer></app-sticky-footer>
</div>

<app-modal-formulaire
*ngIf="selectedMission"
[mission]="selectedMission"

(closed)="closeForm()"
/>
