<section class="legal-wrapper">
  <h1>Articles du Code des Procédures Civiles d'Exécution</h1>

  <div class="legal-article" [class.open]="isOpen(i)"  *ngFor="let article of articles; let i = index; trackBy: trackByIndex">
    <button class="article-header" [class.open]="isOpen(i)"  (click)="toggleArticle(i)">
      {{ article.title }}
      <span class="arrow" [class.open]="isOpen(i)"  [class.open]="openedArticleIndex === i">▼</span>
    </button>

    <div class="article-body" [class.open]="isOpen(i)"  [class.open]="openedArticleIndex === i" *ngIf="openedArticleIndex === i">
      <div class="article-content">
<p *ngFor="let paragraph of article.content; let pIndex = index"
   class="paragraph"
   [ngClass]="{ 'slide-in': isOpen(i), 'slide-out': !isOpen(i) }"
   [style.animation-delay]="pIndex * 0.1 + 's'">
  {{ paragraph }}
</p>

      </div>
    </div>
  </div>
</section>